/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/*body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
/* trenger jeg å ha med noe av det som står over? */


/* For all pages */

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-size: 1.125rem;
  line-height: 1.5;
  box-sizing: border-box;
  text-align: center;
}

a{
  text-decoration: none;
  color: rgba(10, 54, 65, 1)
}

/* header */

.headerbackground{
  background-color: rgba(10, 54, 65, 1);  
}

.logo{
  width: 20%;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.fa-solid{
  margin:40px 10px;
color:rgba(10, 54, 65, 1) ;

}

nav li{
 display: inline-block;
 padding: 15px;
 color: rgba(10, 54, 65, 1);
font-size: 1.5rem;
}

/* Hover state */ 



/* buttons */

.btn{
 font-size: 1rem;
 padding: 10px 80px;
 border-radius: 8px;
 text-align: center;
 transition: all 1s ease-in-out;
}

.btn-small{ 
  font-size:0.8rem;
  padding:8px 30px;
  border: none;
}

/* Hover state */ 

.btn:hover{
 background-color:rgba(177, 112, 47, 0.5);
 font-size: 1.2rem;
 color:rgba(10, 54, 65, 1);
}

/* Home page */

.homepage-start{
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homapageItems > * {
  flex: 1;
}
.homapageItems{
  display: flex;
}

.homapageImages{
  width: 40%;
  padding:5px;
}

.homepage-text{

}

.imgdivider{
  width: 100%;
  }



.columnsProducts{
display:grid;
gap: 20px;
padding:30px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto auto;
/*background-color: rgba(10, 54, 65, 0.25);*/
border-radius: 50px;
margin: 70px;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  }

  .productimg {
    max-width: auto; 
    height: 500px;
    margin-bottom: 10px;
  }

 

/* Checkout page*/
.productCard{
  background-color: rgba(10, 54, 65, 0.25);
} 
/* denne har du ikke brukt enda- kasse*/


.DividerBox {
  background-color: rgba(177, 112, 47, 0.5);
  display: flex;
  align-items: center;
  padding:40px;
  border-radius: 20px;
  max-width: 100%;
  width: 70%;
  margin: 3% 3% 3% 15%;
  }

.imagecontainer{
  margin-left: 40px;
}

/*.DividerBox {
  background-color: rgba(177, 112, 47, 0.5);
  display: inline-block;
  padding:20px;
  border-radius: 20px;
  max-width: 900px;
  margin: 20px;
  
}*/

/*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;

.text {
  grid-column: 2;
  padding:10%;
}

.imagecontainer {
  display: grid;
  grid-column: 3;
  justify-content: center;
  align-items: center;     
}*/





/* product page*/

.productDetails{
  max-width: 1200px;
  display: flex;
  margin: auto auto;
  padding: 100px;
  align-items: center;
 
}

.productDetails p{
  display: ;
  padding:10px;
  text-align: left;
  width: 500px;
  }

.ProductPageImg{

}

.productInfo{
  max-width: 1200px;
  display: flex;
  margin: auto;
  padding-bottom: 100px;
  text-align: left;
}

.productInfo > *{
  flex:1
}

.productInfo h2{
  text-align: center;
}

.features li{
  display: inline-block;
}





/* about page*/

.about{
display: grid;
align-items: center;
padding:40px;
max-width: 100%;
width: 70%;
margin: 3% 3% 3% 15%;

}

.aboutText{
grid-column: 1;
text-align: left;
max-width: 85%;
}

.aboutImage{
grid-column: 2;
margin-left: 40px;
}




/* Forms */
.form__input{
 display: block; 
}

.form{
  text-align: left;
}





/* Footer */
footer{
  margin-top: 50px;
  display: grid;
 
  grid-template-columns: repeat(3, 1fr);
}

.footerimg{
  width: 50%;
  padding-bottom: 30px;
}

footer p{
  display: flex;
  margin-left: 100px;
}

footer .fa-solid{
margin:0 15px;
  }

footer .fa-brands{
  margin-bottom: 30px;
}

