/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*dette ser ikke rett ut. om jeg har den her, må den også være i css styles da?*/

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
} /*Header and paragraph. OM DEN STÅR HER, kan jeg ta den vekk fra css? selv om.. google fonts sa jeg skulle plassere den der når jeg fikk header fonten*/

.button{
  background-color; rgba(106, 67, 28, 1);
  color:rgba(236, 242, 240, 1);
}


h1, 
h2{
  color: rgba(10, 54, 65, 1);
  font-family: "Julius Sans One", sans-serif;
}

.headerBackground
{
  background-color: rgba(10, 54, 65, 1);
  text-align: center;
  padding:30px;
  box-sizing: border-box;
}

.DividerLine{
  background-color: rgba(177, 112, 47, 0.5);
}

.textcolor{
 color:rgba(236, 242, 240, 1);
}

.DividerBox{
  background-color: rgba(177, 112, 47, 0.5);
}

*, 
* ::before,
* :: after{
box-sizing: border-box;
}
